
#bd{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
    opacity: 1;
  filter: alpha(opacity=100);
}
td{
    font-size:18px;
    font-family: 'Charm', cursive;
    color:rgb(18, 19, 17);
}
.button {
    border-radius: 19px;
    width:120px;
    height:30px;
    outline:none;
    box-shadow: 0 8px 16px 0 rgba(122, 134, 76, 0.29), 0 6px 20px 0 rgba(131, 130, 74, 0.938);
    color:rgb(102, 14, 87);
    font-family: 'Charm';
    float:right;
    position: absolute;
    left:800px;
    border: 2px solid rgb(218, 114, 18);
}
select, input[type="date"]{
    width:100%;
    box-sizing:border-box;
  }
